.about-caption {
  font-family: "Comfortaa";
  font-size: 1em;
  color: black;
}

.about-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.7rem;
}

.about-headers {
  font-family: "Comfortaa" !important;
  color: #000000;
}
.about-text {
  font-family: "Comfortaa";
  color: #000000;
}

.about-title {
  font-size: 4rem;
  font-family: "Comfortaa";
  font-size: 3em;
  color: black;
  align-self: center;
}

.wrapper-grid-about {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 40rem);
  grid-template-rows: 2fr 2fr;
  justify-content: center;
}

#img-growth {
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
  width: 50%;
  height: auto;
  align-self: center;
  display: block;
  margin: 2rem auto;
}

#img-helping-hands {
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
  width: 50%;
  height: auto;
  align-self: center;
  display: block;
  margin: 2rem auto;
}

#img-collage {
  width: 100%;
  height: auto;
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
}

.text-card {
  font-family: "Comfortaa";
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.text-card p {
  color: black;
  text-align: center;
padding: 0.7rem;
}



@media screen and (max-width: 1140px) {
  .text-card {
    width: 80%;
  }
}

@media screen and (max-width: 720px) {
  #img-growth {
    width: 100%;
    height: auto;
    margin-top: -1rem;
  }

  #img-helping-hands {
    width: 100%;
  }

  #img-collage {
    height: 4em;
    width: 10em;
    margin-top: 2em;
  }
  #growth-desc {
    margin-bottom: 4em;
    margin-top: -6em;
    margin-left: -5.5em;
  }

  #mission-desc {
    margin-top: -6em;
    margin-left: -5.5em;
    margin-top: -3em;
  }

  #acknowledgement-desc {
    align-items: center;
    flex-direction: center;
  }

  .text-card {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .about-title {
    font-size: 37px;
  }

  .main-home {
    width: 40% !important ;
    flex-direction: column;
    display: flex;
  }

 

  #img-collage {
    width: 70%;
    height: 100%;
    margin-top: 2em;
  }

  #img-helping-hands {
  
    width: 95% !important;
  }

  #img-collage {
    width: 95%;
  }

  #text-card{
    padding: 1rem !important;
  }
}
