/* .home {
  width: 100vw;
  height: 100vh;
}

#content-section-careers {
  width: 90vw;
  height: 85vh;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-section-careers img {
  height: 30vh;
  width: 30vw;
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
}

#founding-text {
  display: flex;
  justify-content: "center";
  align-items: center;
  padding-left: 3em;
  height: 60vh;
  width: 100vw
}

#founding-text p h3 {
  font-family: "Comfortaa";
  font-size: 2em;
  padding-left: 1em;
}

#founding-text p h5 {
  font-family: "Manrope";
  font-size: 1em;
  padding-left: 2em;
}



.values-text {
  display: flex;
  justify-content: "center";
  padding-left: 3em;
}

.values-text p h3 {
  font-family: "Comfortaa";
  font-size: 2em;
  padding-left: 1em;
}

.values-text p h5 {
  font-family: "Manrope";
  font-size: 1em;
  padding-left: 2em;
}

 */


 .pic-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffff;
  font-size: 3rem;
  color: #fff;
  /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
  height: 100%;
  width: 100%;
  /* border-radius: 4px; */
  /* transition: all 500ms; */
  overflow: hidden;
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* 
.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
} */

.title {
font-family: "Comfortaa";
font-size: 4rem;
}

.wrapper-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 55rem);
  grid-template-rows: 2fr 2fr 2fr; 
  justify-content: center;
}
 
#img-growth {
  height: 10em;
  width: 18em;
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
}

#img-helping-hands {
  height: 8em;
  width: 18em;
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
}

#img-collage {
  height: 7em;
  width: 18em;
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
}

.text-card {
  font-family: "Comfortaa";
  text-align: center;
  display:flex;
  align-items: center;
}

@media screen and (min-width: 481px){
  .wrapper-grid {
    grid-template-columns:repeat(auto-fit, 55em);
  }
}