.white-space {
  height: 40%;
  width: 100%;
}

.text_content {
  color: black;
  font-size: 18px;
}
.services-title {
  font-family: "Comfortaa";
  font-size: 3em;
  color: black;
  margin-left: 4rem !important;
}

.services-caption {
  font-family: "Comfortaa";
  font-size: 1em;
  color: black;
  margin-bottom: 2em;
}

.services-page {
  padding: 0.8rem;
  flex-direction: column;
  
}

.wrapper-grid-services {
  display: flex;

  align-items: center;
}

.col {
  background: white;
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0 !important;
}

.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  zoom: 1;
}

.grid {
  width: 15rem;
  display: flex;
  justify-content: center;
}

.row1 {
  margin-bottom: 1rem;
}

#img-services {
  height: 100%;
  width: 100%;
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
  display: block;
  margin-left: 2rem;
}

#img-services:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}

.popup-message-container {
  height: 100vh;
  /* margin-top: 5rem; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.image__img {
  display: block;
  width: 100%;
}

.image-title {
  font-size: 2em;
  font-weight: bold;
}

.hover-button {
  margin-right: 1rem;
}

.popup-message {
  width: 80%;
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: "Comfortaa";
  font-size: 2em;

  margin-top: 10em;
  margin-bottom: 10em;
}
#back-to-top {
  color: white;
}

.services-page {
  padding: 0.8rem;
}

.card-image-container {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 825px) {
  .popup_message_container {
    margin: 0.5rem;
  }

  .text_content {
    font-size: 12px;
  }

  .title {
    font-size: 3rem !important;
  }
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .popup-message {
    margin-top: 2rem;
  }

  .popup_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 2em;
  }

  .services-page {
    display: flex;
    margin: 2em auto;
    flex-direction: column;
  }

  .services-title {
    width: 100%;
  }
}

.wrapper-grid-services {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .wrapper-grid-services {
    width: 97%;
    margin-left: 1.4rem;
    margin-top: -2rem;
  }

  .services-title {
    font-size: 39.8px;
    margin-left: 0rem !important;
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .card-image-container {
    flex-direction: column;
  }

  .title {
    font-size: 3rem !important;
  }

  .popup-message {
    margin-top: 2rem;
  }

  .text_content {
    font-size: 12px;
  }
  .popup_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .services-page {
    display: flex;
    margin: 2em auto;
    flex-direction: column;
  }
  .grid {
    width: 4rem;
    display: flex;
    margin-right: 1rem;
  }

  #img-services {
    margin-left: 0rem;
  }

  .popup-message-container {
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    margin-top: 12rem;
    padding-right: 2rem;
    align-items: center;
  }
}
