.home {
  width: 100%;
  height: 100%;
}

.careers-button {
align-self: center;
}
.careers-title {
  color: black;
  font-family: "Comfortaa";
  font-size: 3em;
}

.careers-text {
  text-align: center;
  color: black
}

.careers-caption {
  color: black;
  font-family: "Comfortaa";
  font-size: 1.2em;
  text-align: justify;
}

.content-section-careers {
  width: 90vw;
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.careers-header-text {
  margin-top: 1rem;
  text-align: center;
  color: black;
  
}

.content-section-careers img {
  height: 30vh;
  width: 30vw;
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
}

.intro-text p h2 {
  font-family: "Comfortaa";
  font-size: 2em;
  padding-left: 1em;
}

.intro-text p h6 {
  font-family: "Manrope";
  font-size: 1em;
  padding-left: 2em;
  text-align: left;
}

.btn-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.careers-img {
  margin-left: 10em;
}
.about-description {
  font-family: "Comfortaa";
  text-align: center;
  display: flex;
  align-items: center;
}

.wrap-text-careers {
  padding: 0rem;
}
.careers_container {
  max-width: 1024px;
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.career-img {
  width: 50%;
  margin: 0 auto;
  display: block;
  border-radius: 50px 31px 50px 50px / 100px 15px 116px 25px;
  border: 5px outset #1c6ea4;
}

.careers_text {
  text-align: center;
  margin-top: 2rem;
}

@media screen and (max-width: 500px) {
  .career-img {
    width: 100%;
  }
}
