.home {
  width: 100%;
  height: 100%;
}
.careers-title {
  color: black;
font-family: "Comfortaa";
font-size: 3em;
}

.careers-caption {
  color: black;
font-family: "Comfortaa";
font-size: 1.2em;
}

.content-section-careers {
  width: 90vw;
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-text {
  color: black;
font-family: "Comfortaa"
}

.content-section-careers img {
  height: 30vh;
  width: 30vw;
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
}

.intro-text p h2 {
  font-family: "Comfortaa";
  font-size: 2em;
  padding-left: 1em;
  
}

.intro-text p h6 {
  font-family: "Manrope";
  font-size: 1em;
  padding-left: 2em;
  text-align: left;
}


/* #apply-btn {
    
        display: inline-block;
        border: 1px solid #ffff;
        color: #ffff;
        border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        font-family: Verdana;
        width: auto;
        height: auto;
        font-size: 16px;
        font-family: "Comfortaa";
        padding: 10px 40px;
        box-shadow: inset 0 1px 0 0 #ffff, inset 0 -1px 0 0 #ffff,
          inset 0 0 0 1px #ffff, 0 2px 4px 0 #d4d4d4;
        -moz-box-shadow: inset 0 1px 0 0 #ffff, inset 0 -1px 0 0 #ffff,
          inset 0 0 0 1px #ffff, 0 2px 4px 0 #d4d4d4;
        -webkit-box-shadow: inset 0 1px 0 0 #ffff, inset 0 -1px 0 0 #ffff,
          inset 0 0 0 1px #ffff, 0 2px 4px 0 #d4d4d4;
        background-color: #1c6ea4;
         margin-left: 6px;
      
} */

.btn-section {
    width: 100%;
    display: flex;
    justify-content: center
}

.careers-img {
  margin-left: 10em
}
.about-description {
  font-family: "Comfortaa";
  text-align: center;
  display: flex;
  align-items: center;
}


.wrap-text-careers {
  padding: 0.7rem;
}
 .careers_container {
   max-width: 1024px;
   width: 100%;
   margin: 1rem auto;
 }
 .career-img {
  width: 50%;
  margin: 0 auto;
  display: block;
  border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
  border: 5px outset #1c6ea4;
}

.careers_text {
text-align: center;
margin-top: 2rem;
}

@media screen and (max-width:500px) {

  .career-img {
   width: 100%;
 }

  
}

