.form-card {
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffff;
    font-size: 3rem;
    color: #fff;
    /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
    height: 50%;
    width: 50%;
    /* border-radius: 4px; */
    /* transition: all 500ms; */
    overflow: hidden;
    border: 1px solid black;
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .wrapper-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, 40rem);
    grid-template-rows: 2fr 2fr 2fr; 
    justify-content: center;
  }
