
.contact-page {
  height: 100vh;
  width: 100%;
  display: grid;
  background-color:aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#header-section {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  background-color:aqua;
}


#form-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}

.wrapper-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 40rem);
  grid-template-rows: 2fr;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%
}

/* #outlined-basic {
  padding: 5px;
  font-size: 16px;
  border-width: 2px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.75);
  width: 35rem;
} */


.contact-btn {
  margin-bottom: 6em;
}

@media screen and (max-width: 500px) {
.contact_input {
  width: 100%
}



}
