.auction-btn {
  background-color: grey;
  margin-top: 1rem;
  color: #ffff;
}

.shopify-btn {
  background-color: #7bb45b;
  margin-top: 1rem;
  color: #ffff;
}

.shop-title {
  font-family: "Comfortaa";
  font-size: 3em;
  color: black;
}

.shop-text {
  color: black;
  font-family: "Comfortaa";
}

.shop-caption {
  font-family: "Comfortaa";
  font-size: 1em;
  color: black;
}

.mini_card_inner_text {
  margin-left: 2rem;
}

.shop_container {
  padding: 0.8rem;
}

.wrapper-grid-shop {
  display: flex;

  align-items: center;
}
.shop_pic_card {
  width: 100%;
}
.shop_pic_card > img {
  width: 90%;
  margin: 0 auto;
  border-radius: 100px 31px 100px 50px / 75px 15px 70px 25px;
  border: 5px outset #1c6ea4;
  display: block;
}

.mini_card {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
.wrapper-shop-text {
  width: 100%;
}
.mini_card > img {
  width: 20%;
  margin-top: -5em;
}
.wrapper_shop_text_inner {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .mini_card > img {
    width: 20% !important;
 
  }

  .shop-title {
    font-family: "Comfortaa";
    font-size: 3em;
    color: black;
    margin-top: -2.5rem;
  }
#shopify-logo {
  margin-top: -2.3rem;
  
}
  #auction {
    /* margin-left: 1.2rem; */
  }
#auction-logo {
  margin-top: -5rem;
}
  .wrapper-grid-shop {
    flex-direction: column;
  }

  .wrapper_shop_text_inner {
    margin-top: 1rem !important;
    width: 100% !important;
  }

  .shop_pic_card > img {
    width: 100% !important;
  }

  .shopify-btn {
   
    margin-left: -0.2rem;
    } 

    .auction-btn {
      margin-left: -0.2rem;
      }
    
      #auction {
        margin-top: 1rem;
      }
 
      .mini_card > img {
        width: 40%;
        /* margin-top: 5em; */
      }
}

@media screen and (max-width: 825px) {
  .wrapper-grid-shop {
    flex-direction: column;
  }

  .shop_pic_card > img {
    width: 80% !important;
    flex-direction: center;
    margin-top: -2rem;
  }

  .mini_card > img {
    margin-top: 1em;
  }

  .mini_card {
    margin-top: 0.95em;
  }

  .shopify-btn {
  font-size: 18px;
  }

  .auction-btn {
    font-size: 18px;
    }
}
