.home {
    width: 100vw;
    height: 100vh;

  }
  
  .white-section {
display: flex;
justify-content: center;
width: 100vw;
height: 100vh
  }

  .shop-section {
    width: 100vw;
    height: 85vh;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shop-section img {
    height: 5em;
    width: 5em;
    margin-left: 10em
  }
  
  #img-shopping {
    height: 9em;
    width: 18em;
    border-radius: 147px 31px 147px 50px / 116px 15px 116px 25px;
    border: 5px outset #1c6ea4;
  }

td.table-title {
    display: flex;
    justify-content: center;
}
td.logo-cell {
    max-width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody {
font-family: "Comfortaa";
display: flex;
text-align: center
}

#btn {
    margin-left: 6px;
   background-color: green; 
   font-family: "Comfortaa";
}

#btn-disabled {
    background-color: grey;
    font-family: "Comfortaa";
}

#title-section  {
    width: 100vw;
     display: flex;
    justify-content: center;
    align-items: center;
}


